.thumbnails {padding: 27px 0 20px;}
.thumbnail{
    box-shadow: 0 1px 3px rgba(180,180,180,0.6);
    margin-bottom: 30px;
    position: relative;
    .thumb-holder {
        margin: -1px;
        >img {
            border-radius: 3px 3px 0 0;
            max-width: 100%;
            width: 100% !important;
            height: auto !important;
        }
    }
    .alert {
        position: absolute;
        width: 80%;
        margin: 7px 10% 0;
        font-size: 13px;
        text-align: left;
        padding: 10px;
        color: #626262;
        background: #fff;
        border: 1px solid #bdbdbd;
        .close {
            border-radius: 0;
            text-indent: 0;
            height: auto;
            width: auto;
            right: -6px;
            top: -7px;
            font-size: 20px;
            &:before {
                display: none;
            }
            &:hover {
                background: inherit;
                color: inherit;
            }
        }
    }
    address {
        margin: 0;
        @media (min-width: 992px)  {
            max-height: 42px;
            overflow: hidden;
        }
        @media (min-width: 768px) and (max-width: 991px)  {
            font-size: 13px;
            max-height: 37px;
            overflow: hidden;
        }
    }
    .link {
        border-top: 1px solid #ededed;
        padding: 22px 10px 24px;
        text-align: center;
        font-size: 15px;
    }
}
.queue {
    .panel {
        border: none;
        box-shadow: none;
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ededed;
        &:last-child {
            border: none;
        }
        .panel-heading {
            background: none;
            padding-left: 32px;
        }
        .panel-title {
            font-size: 20px;
            position: relative;
            strong {
                cursor: pointer;
            }
            a {
                background: transparent;
                .arrow {
                    position: absolute;
                    content: '';
                    top: 1px;
                    left: -33px;
                    width: 21px;
                    height: 21px;
                    border: 1px solid #c5c5c5;
                    border-radius: 4px;
                    &:after, &:before {
                        bottom: 50%;
                        left: 50%;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        margin-bottom: -2px;
                    }
                    &:after {
                        border-color: rgba(255, 255, 255, 0);
                        border-bottom-color: #ffffff;
                        border-width: 4px;
                        margin-left: -4px;
                    }
                    &:before {
                        border-color: rgba(105, 105, 105, 0);
                        border-bottom-color: #c5c5c5;
                        border-width: 5px;
                        margin-left: -5px;
                    }
                }
                &.collapsed .arrow {
                    &:after, &:before {
                        top: 50%;
                        bottom: auto;
                        margin-top: -2px;
                    }
                    &:after {
                        border-color: rgba(255, 255, 255, 0);
                        border-top-color: #ffffff;
                    }
                    &:before {
                        border-color: rgba(105, 105, 105, 0);
                        border-top-color: #c5c5c5;
                    }
                }
            }
            .badge {
                background: #d5d5d5;
                color: #fff;
                min-width: 30px;
                text-align: center;
                top: -2px;
                position: relative;
            }
        }
    }
    table {
        font-size: 14px;
        th {
            border: none !important;
            &:first-child {
                padding-left: 30px;
            }
        }
        td {
            border: none !important;
            width: 18%;
            &:first-child {
                padding-left: 32px;
            }
            &:nth-child(2) {
                width: 30%;
            }
            &:last-child {
                width: 16%;
            }
        }
    }
}