.listing {
    margin-top: 36px;
    margin-bottom: 50px;
    overflow: hidden;
    h2 {
        color: #333;
        font-family: 'PT Sans';
        font-weight: 700;
        margin: 0 0 11px;
    }
    .sidebar {
        margin-bottom: -9999px;
        padding-bottom: 9999px;
        border-right: 1px solid #e4e4e4;
        .change {
            display: inline-block;
            margin-bottom: 28px;
        }
        dl {
            overflow: hidden;
            dt {
                font: bold 15px 'PT Sans Caption', sans-serif;
                margin-bottom: 2px;
                @media (max-width: 767px)  {
                    float: left;
                    width: 40%;
                    clear: left;
                }
            }
            dd {
                margin-bottom: 18px;
                @media (max-width: 767px)  {
                    float: left;
                    width: 60%;
                    min-height: 20px;
                    overflow: hidden;
                    margin-bottom: 5px;
                }
            }
        }
    }
    main {
        h2 {
            margin-bottom: 34px;
        }
        .thumbnail {
            margin-bottom: 40px;
            .caption {
                position: relative;
                .error-badge {
                    right: 28px;
                }
            }
        }
        hr {
            margin: 0 0 32px;
            border-style: dashed;
        }
        .btn {
            width: 100%;
        }
    }
}
.info-photo {
    width: 126px;
    height: 168px;
    margin-bottom: 18px;
    border: 1px solid #cacaca;
    border-radius: 3px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.contact-info {
    margin-right: 10%;
    border-top: 1px dashed #e4e4e4;
    padding-top: 30px;
    h4 {
        font: bold 15px "PT Sans";
        margin: 0 0 15px;
        color: #626262;
    }
    p {
        line-height: 27px;
        margin: 0 0 15px;
    }
}
.main-info {
    width: 100%;
    padding-left: 150px;
    overflow: hidden;
    margin-bottom: 35px;
    @media (max-width: 767px)  {
        padding-left: 0;
    }
    .inputs-holder {
        margin-bottom: 0;
    }
    .user-photo {
        width: 123px;
        float: left;
        margin-left: -150px;
        position: relative;
        .tooltip.right {
            margin-left: 13px;
        }
        @media (max-width: 767px)  {
            float: none;
            margin: 0 auto 20px;
        }
        .realtor-photo {
            width: 93px;
            height: 124px;
            border-radius: 3px;
            overflow: hidden;
            margin-bottom: 11px;
            border: 1px solid #cacaca;
        }
    }
}