container_commands:
  1installNodejs:
    command: curl -sL https://rpm.nodesource.com/setup | bash -
  11installNodejs:
    command: yum install -y nodejs
  12installNpm:
    command: npm install -y -g npm
  2createSymLink:
    command: /bin/bash .ebextensions/symlink.sh $PARAM1
  3npmInstall:
    command: npm install && node_modules/grunt-cli/bin/grunt
  4applyMigrations:
    command: php bin/phinx migrate -e $PARAM1