container_commands:
  1updateComposer:
    command: php composer.phar self-update
    leader_only: true
  2updateSoft:
    command: php composer.phar update --no-dev --quiet --optimize-autoloader
    leader_only: true
  3applyMigrations:
    command: php bin/phinx migrate -e $PARAM1
  4createSymLink:
    command: /bin/bash .ebextensions/symlink.sh