container_commands:
  1installComposer:
    command: php composer.phar self-update
    leader_only: true
  2updateComposer:
    command: php composer.phar self-update
    leader_only: true
  3updateSoft:
    command: php composer.phar update --no-dev --quiet --optimize-autoloader
    leader_only: true
  4applyMigrations:
    command: php bin/phinx migrate -e $PARAM1
  5createSymLink:
    command: /bin/bash .ebextensions/symlink.sh