.ui-autocomplete.ui-widget-content{
    background: white;
    border: 1px solid #cacaca;
}

.ui-state-focus {
    border: 1px solid #cacaca;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.property-photo{
    width: inherit;
    height: 258px;
}

.property-photo > img{
    width: inherit;
    cursor: pointer;
}

.realtor-photo{
    width: inherit;
    height: inherit;
}
.realtor-photo > img{
    width: inherit;
    height: inherit;
    cursor: pointer;
}

.upload{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.upload > div{
    position: absolute;
    top: 0;
    left: 0;
}

.upload input{
    opacity: 0;
    cursor: pointer;
}

.waiting{
    display: none;
}

.admin-table .isSortable, .table-striped .isSortable{
    cursor: pointer;
}

.ngdialog-content{
    background: none;
}

.ngdialog {
    z-index: 98;
}

.action-none{
    color: #BABABA;
}

.logo-box ul li {
    height: 50px;
    width: 175px;
    cursor: pointer;
}

.logo-box ul li a {
    height: 50px;
}

.user-menu img {
    border-radius: 3px;
}

.main-info .user-photo .realtor-photo {
    width: 125px;
    height: 100%;

}