.ui-autocomplete.ui-widget-content{
    background: white;
    border: 1px solid #cacaca;
}

.ui-state-focus {
    border: 1px solid #cacaca;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.property-photo{
    width: inherit;
    height: 258px;
}

.property-photo > img{
    width: inherit;
}

.realtor-photo{
    width: inherit;
    height: inherit;
}
.realtor-photo > img{
    width: inherit;
    height: inherit;
}

.upload{
    position: relative;
    cursor: pointer;
}

.upload > div{
    position: absolute;
    top: 0;
    left: 0;
}

.upload input{
    opacity: 0;
}

.waiting{
    display: none;
}