.ui-autocomplete.ui-widget-content{
    background: white;
    border: 1px solid #cacaca;
}

.ui-state-focus {
    border: 1px solid #cacaca;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.property-photo{
    width: inherit;
    height: 258px;
}

.property-photo > img{
    width: inherit;
    cursor: pointer;
}

.realtor-photo{
    width: inherit;
    height: inherit;
}
.realtor-photo > img{
    width: inherit;
    height: inherit;
    cursor: pointer;
    max-width: 100%;
}

.upload{
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.upload > div{
    position: absolute;
    top: 0;
    left: 0;
}

.upload input{
    opacity: 0;
    cursor: pointer;
}

.waiting{
    display: none;
}

.admin-table .isSortable, .table-striped .isSortable{
    cursor: pointer;
}

.ngdialog-content{
    background: none;
}

.ngdialog {
    z-index: 98;
}

.action-none{
    color: #BABABA;
}

.logo-box {
    margin-top: 0;
}
.logo-box ul li {
    height: 50px;
    width: 175px;
    cursor: pointer;
    position: relative;
}

.logo-box ul li a {
    height: 50px;
}

.logo-box ul li img {
    width: 100%;
}

.user-menu img {
    border-radius: 3px;
}

.main-info .user-photo .realtor-photo {
    width: 126px;
    height: 168px;

}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}

/* Thanks box start */
.thanks-box {
    padding-top: 0;
}

.thanks-box img {
    margin-bottom: 30px;
}

.thanks-box:before {
    background: none;
}
/* Thanks box end */

/* NG classes start */
.ng-hide {
    display: none;
}
/* NG classes end */

/* Preloader start */
#progress-bar-screen {
    display: block;
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

#progress-bar-screen  .progress-bar {
    background-color: #4279e7;
}

#progress-bar-screen .text {
    position: absolute;
    width: 100%;
    color: #fff;
    bottom: 50%;
    text-align: center;
    display: block;
    font: italic 35px "PT serif";
    word-spacing: -1px;
}
/* Preloader end */

/* Property page start */
.property-back-box .back {
    margin: 0;
}
/* Property page end */

.item-control {
    padding: 10px 15px 15px    ;
    text-align: justify;
    overflow: hidden;
    font-size: 20px;
}
.item-control i {
    float: left;
    width: 33.3%;
    text-align: center;
    font-style: 14px;
}
.item-control i span {
    padding: 5px 0 0;
    font-size: 12px;
    display: block;
}
.thumbnail .picture-box > img {
    display: block;
    width: 100%;
    height: auto;
}
.inputs-holder textarea {
    display: block;
    margin: 0 -10px;

}
