.ligin-form {
    margin-top: 140px;
    form {
        position: relative;
    }
    .logo-holder {
        text-align: center;
        margin-bottom: 41px;
    }
    .wrap {
        width: 100%;
        overflow: hidden;
        margin-bottom: 29px;
        a {
            float: right;
        }
        label {
            font-weight: normal;
        }
    }
    .btn {
        width: 100%;
        margin-bottom: 32px;
    }
    p.note {
        margin-bottom: 20px;
        text-align: center;
    }
    .alert {
        position: absolute;
        top: -120px;
        width: 100%;
        text-align: center;
        .close {
            width: 28px;
            height: 28px;
            text-indent: -999px;
            overflow: hidden;
            background: url('../images/sprite.png');
            opacity: 1;
            margin-top: -3px;
        }
    }
}