<div id="wrapper">
    <lo-navbar-head></lo-navbar-head>
    <section class="container">
        <div class="panel-group queue">
            <lo-dashboard-collateral-list lo-categories="categories"
                                          lo-templates="templates"></lo-dashboard-collateral-list>
            <dashboard-collateral lo-items="data"></dashboard-collateral>
            <div class="info-text">
                <p class="bg-info">
                    Materials prepared by FirstREX for distribution to real estate agents are not for distribution to
                    prospective homebuyers.
                </p>
            </div>
        </div>
    </section>

</div>
<lo-footer></lo-footer>
