<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closeThisDialog()">close</button>
                <h4 class="modal-title">Decline the request</h4>
            </div>
            <div class="modal-body">
                <div class="input radio" ng-repeat="val in statuses">
                    <label>
                        <input type="radio" name="status_id" ng-model="$parent.statusId" ng-value="val.id">
                        [[val.name]]
                    </label>
                </div>
                <textarea cols="30" rows="3" class="form-control" placeholder="Reason" ng-model="reason"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" ng-click="decline()">Decline</button>
            </div>
        </div>
    </div>
</div>