<form ng-submit="submit(formUser, $event)" class="css-form" novalidate name="formUser">
    <div class="row edit-user">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div id="userProfileMessage"></div>

            <div class="alert alert-danger fade in" ng-show="!hideErrors && formUser.$submitted && !formUser.$valid">
                <a ng-href="#" class="close" ng-click="showErrors($event)">close</a>
                <div ng-show="isValidEmail(formUser)">
                    <span ng-show="formUser.email.$error.email">The entered email is invalid.</span>
                    <span ng-show="formUser.email.$error.required">Email can't be empty.</span>
                </div>
                <!-- phone -->
                <div ng-show="formUser.$submitted && formUser.phone.$error.usaPhoneFormat">Please input a valid US phone number including 3 digit area code and 7 digit number.</div>
                <div ng-show="formUser.$submitted && formUser.first_name.$error.loName">First name is invalid</div>
                <div ng-show="formUser.$submitted && formUser.last_name.$error.loName">Last name is invalid</div>
                <div ng-show="formUser.$submitted && formUser.nmls.$error.number">NMLS # should be of number.</div>
                <div ng-show="formUser.$submitted && formUser.sales_director_email.$error.email">Please input a valid email in Sales Director Email field.</div>
                <div ng-show="formUser.$submitted && formUser.sales_director_phone.$error.usaPhoneFormat">Please input a valid phone in Sales Director Phone field.</div>
                <div ng-show="formUser.$submitted && formUser.mobile.$error.usaPhoneFormat">Please input a valid mobile phone.</div>
                <div ng-show="formUser.address.$invalid">Address is invalid.</div>
                <div ng-show="formUser.password_confirm.$error.compareTo">Passwords are not equal.</div>
            </div>

            <h2>[[ title ]]</h2>
            <div class="inputs-holder">
                <div class="input">
                    <input class="input-lg" type="text" placeholder="Name" ng-model="officer.sales_director">
                </div>
                <div class="input">
                    <input class="input-lg" type="email" name="sales_director_email" placeholder="Email" ng-model="officer.sales_director_email">
                </div>
                <div class="input">
                    <input class="input-lg" type="text" name="sales_director_phone" placeholder="Phone" usa-phone ng-model="officer.sales_director_phone">
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-lg">Save</button>
            <div class="bottom-nav">
                <a ng-if="!itsMe()" ng-href="#" ng-click="delete($event)" class="delete pull-right">Delete sales director</a>
                <a ng-href="/#/" ng-click="cancel($event)" class="back">Cancel</a>
            </div>
        </div>
    </div>
</form>
