<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <div class="panel-group queue">
        <lo-admin-collateral-list ng-repeat="category in categories"
                                  lo-category="category"
                                  lo-templates="templates[category.id]"></lo-admin-collateral-list>

    </div>
</section>
