<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <div class="admin-table">
        <div class="table-holder">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th class="realtor-name">Realtor<br />name</th>
                        <th>Realtor<br />logo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>R Realtor</td>
                        <td><img src="/images/realtors/realtor.png" alt="Realtor"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>The Rich Z Real Estate Group</td>
                        <td><img src="/images/realtors/rich-z.png" alt="The Rich Z Real Estate Group"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Brad Beacham Realtor / Broker</td>
                        <td><img src="/images/realtors/bradBeacham.png" alt="Brad Bachham Realtor / Broker"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Christian Realtor</td>
                        <td><img src="/images/realtors/christian.png" alt="Christian Realtor"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Structure Sales</td>
                        <td><img src="/images/realtors/structure.png" alt="Structure"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>