<div class="row top-bar">
    <div id="userMessage"></div>
    <div class="col-sm-4 col-lg-3">
        <form ng-submit="search()">
            <div class="input-group">
                <input ng-trim="true" type="text" class="form-control" placeholder="Search" ng-model="searchingString">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Go!</button>
                            </span>
            </div>
        </form>
    </div>
    <div class="paging col-sm-4 col-sm-offset-4 col-lg-offset-5">
        <span ng-show="isLoaded">Page [[ pagination.current ]] of [[ pagination.pageCount ]]</span>
        <a ng-href="[[ pagination.previous? getUrl(false): '' ]]" class="prev" ng-class="{inactive: !pagination.previous}">prev</a>
        <a ng-href="[[ pagination.next? getUrl(true): '' ]]" class="next" ng-class="{inactive: !pagination.next}">next</a>
    </div>
</div>
<div class="admin-table">
    <div class="table-holder">
        <table class="table table-striped" ng-show="isLoaded">
            <thead>
            <tr>
                <th ng-click="sortByKey(param)" ng-repeat="param in headParams" ng-class="{headerSortUp: isSortedUp(param.key), headerSortDown: isSortedDown(param.key), isSortable: param.isSortable}" ng-bind-html="param.title"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, user) in users">
                <td>[[ user.id ]]</td>
                <td>[[ user.first_name ]]</td>
                <td>[[ user.last_name ]]</td>
                <td><a href="mailto:[[ user.email ]]">[[ user.email ]]</a></td>
                <td>[[ user.roles|adminUserRole:roles|ucFirst ]]</td>
                <td>[[ user.title ]]</td>
                <!-- td>Malkovich</td -->
                <td>[[ user.phone ]]</td>
                <td>[[ user.mobile ]]</td>
                <!-- td>Feb 15, 2015</td -->
                <td>[[ user.created_at ]]</td>
                <td>
                    <div class="dropdown">
                        <button class="action" type="button" data-toggle="dropdown">action</button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="/#/admin/user/[[ user.id ]]/edit" class="change">Edit</a></li>
                            <li><a href="#" class="reset">Reset Password</a></li>
                            <li><a href="/switch?_switch_user=[[ user.email ]]" class="impersonate">Impersonate</a></li>
                            <li><a href="#" ng-click="delete($event, key, user)" class="delete">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>