<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <lo-admin-realty-company-info lo-company="company"></lo-admin-realty-company-info>
</section>