<header class="page-title">
    <h1>Admin Panel</h1>
    <ul class="tabset">
        <li class="active"><a href="#">User Management</a></li>
        <li><a href="#">Request Management</a></li>
    </ul>
    <div class="btn-holder">
        <a href="/#/admin/user/new" class="btn btn-default">Add User</a>
    </div>
</header>