<div class="row top-bar">
    <div class="col-sm-4 col-lg-3">
        <form action="#">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
            </div>
        </form>
    </div>
    <div class="paging col-sm-4 col-sm-offset-4 col-lg-offset-5">
        Page [[ pagination.current ]] of [[ pagination.pageCount ]]
        <a href="#" class="prev">prev</a>
        <a href="#" class="next">next</a>
    </div>
</div>
<div class="admin-table">
    <div class="table-holder">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>id</th>
                <th>First<br>Name</th>
                <th>Last<br>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Title</th>
                <th>Lender</th>
                <th>Primary<br>Phone</th>
                <th>Mobile<br>Phone</th>
                <th>Last<br>login</th>
                <th>Created</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(id, user) in users">
                <td>[[ user.id ]]</td>
                <td>[[ user.first_name ]]</td>
                <td>[[ user.last_name ]]</td>
                <td><a href="mailto:[[ user.email ]]">[[ user.email ]]</a></td>
                <td>User</td>
                <td>Captain</td>
                <td>Malkovich</td>
                <td>+18005887600</td>
                <td>4250113409</td>
                <td>Feb 15, 2015</td>
                <td>Jun 01 2014</td>
                <td>
                    <div class="dropdown">
                        <button class="action" type="button" data-toggle="dropdown">action</button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="/#/admin/user/[[ id ]]/edit" class="change">Edit</a></li>
                            <li><a href="#" class="reset">Reset Password</a></li>
                            <li><a href="#" class="impersonate">Impersonate</a></li>
                            <li><a href="#" class="delete">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>