<form ng-submit="submit(formSalesDirector, $event)" class="css-form" novalidate name="formSalesDirector">
    <div class="row edit-user">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">

            <div id="salesDirectorMessage"></div>

            <div class="alert alert-danger fade in" ng-show="!hideErrors && formSalesDirector.$submitted && !formSalesDirector.$valid">
                <a ng-href="#" class="close" ng-click="showErrors($event)">close</a>
                <div ng-show="formSalesDirector.$submitted && formSalesDirector.name.$error.required">Name can't be empty.</div>
                <div ng-show="formSalesDirector.$submitted && formSalesDirector.name.$error.loName">Name is invalid.</div>
                <div ng-show="isValidEmail(formSalesDirector)">
                    <span ng-show="formSalesDirector.email.$error.email">The entered email is invalid.</span>
                    <span ng-show="formSalesDirector.email.$error.required">Email can't be empty.</span>
                </div>
                <div ng-show="formSalesDirector.$submitted && formSalesDirector.phone.$error.usaPhoneFormat">
                    Please input a valid US phone number including 3 digit area code and 7 digit number.
                </div>
            </div>

            <h2>[[ title ]]</h2>
            <div class="inputs-holder">
                <div class="input">
                    <input class="input-lg"
                           type="text"
                           name="name"
                           placeholder="Name"
                           lo-name-validator
                           required=""
                           ng-model="salesDirector.name"
                           ng-model-options="{updateOn: 'blur'}">
                </div>
                <div class="input">
                    <input class="input-lg"
                           type="email"
                           name="email"
                           placeholder="Email"
                           required=""
                           ng-model="salesDirector.email"
                           ng-model-options="{updateOn: 'blur'}">
                </div>
                <div class="input">
                    <input class="input-lg"
                           type="text"
                           name="phone"
                           placeholder="Phone"
                           usa-phone
                           ng-model="salesDirector.phone"
                           g-model-options="{updateOn: 'blur'}">
                </div>
            </div>

            <button type="submit" class="btn btn-default btn-lg">Save</button>
            <div class="bottom-nav">
                <a ng-if="!itsMe()" ng-href="#" ng-click="delete($event)" class="delete pull-right">Delete sales director</a>
                <a ng-href="/#/" ng-click="cancel($event)" class="back">Cancel</a>
            </div>
        </div>
    </div>
</form>
