<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <div class="admin-table lenders-table">
        <div class="table-holder">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Lender<br />name</th>
                        <th>Lender<br />address</th>
                        <th>Lender<br />disclosure</th>
                        <th>Lender<br />logo</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>ABC Lending</td>
                        <td>127 S Eldorado St San Mateo CA 94905</td>
                        <td>Not all applicants will qualify. Some products offered by ABC Lending include modified documentation requirements and may have a higher interest rate, more points or more fees than other products requiring documentation. Minimum FICO, reserve, and other requirements apply. Contact your Loan Officer for additional program guidelines, restrictions, and eligibility requirements. Rates, points, APR’s and programs are subject to change at any time until locked-in. NMLS #2900437</td>
                        <td><img src="/images/img01.png" alt="ABC"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>ABC Lending</td>
                        <td>127 S Eldorado St San Mateo CA 94905</td>
                        <td>--</td>
                        <td><img src="/images/img01.png" alt="ABC"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>ABC Lending</td>
                        <td>127 S Eldorado St San Mateo CA 94905</td>
                        <td>Not all applicants will qualify. Some products offered by ABC Lending include modified documentation requirements and may have a higher interest rate, more points or more fees than other products requiring documentation. Minimum FICO, reserve, and other requirements apply. Contact your Loan Officer for additional program guidelines, restrictions, and eligibility requirements. Rates, points, APR’s and programs are subject to change at any time until locked-in. NMLS #2900437</td>
                        <td><img src="/images/img01.png" alt="ABC"></td>
                        <td>
                            <div class="dropdown">
                                <button class="action" type="button" data-toggle="dropdown">action</button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="#" class="change">Edit</a></li>
                                    <li><a href="#" class="delete">Delete</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>