<ul>
    <li ng-if="user.sales_director && user.sales_director_phone">
        Sales Director, [[user.sales_director]]: [[user.sales_director_phone]]
    </li>
    <li>Business Support: (800) 365-3901</li>
</ul>
<hr>
