<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <lo-admin-sales-director-form lo-sales-director="salesDirector"></lo-admin-sales-director-form>
</section>