<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <div id="adminMessage"></div>
    <lo-user-info lo-officer="officer" lo-container="messageContainer"></lo-user-info>
</section>