<div id="wrapper">
    <lo-navbar-head></lo-navbar-head>
    <section class="container">
        <lo-admin-nav-bar></lo-admin-nav-bar>
        <lo-property-approval-edit lo-titles="titles"
                                   lo-request="request"
                                   lo-lat="lat"
                                   lo-lng="lng"></lo-property-approval-edit>
    </section>
</div>
<lo-footer lo-user="user"></lo-footer>
