<div id="messageContainer"></div>
<div class="row top-bar">
    <div class="col-sm-4 col-lg-3">
        <lo-admin-panel-search lo-search-key="searchKey" lo-searching-string="searchingString"></lo-admin-panel-search>
    </div>
    <div class="paging col-sm-4 col-sm-offset-4 col-lg-offset-5">
        <lo-admin-panel-pagination lo-pagination="pagination"></lo-admin-panel-pagination>
    </div>
</div>
<div class="admin-table user-managment">
    <div class="table-holder">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="header" ng-click="col.sort()" ng-repeat="col in headParams" ng-class="{headerSortUp: col.isSortedUp(), headerSortDown: col.isSortedDown(), isSortable: col.isSortable}"><span ng-bind-html="col.title"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in queue">
                    <td>
                        <div class="attention" ng-if="request.duplicates.length > 0">
                            <ul>
                                <li ng-repeat="duplicate in request.duplicates">There is an existent request with the same address and ID #[[ duplicate.id ]] added on [[ duplicate.created_at|fromMysqlDate| date:"MMM d yyyy hh:mm a" ]]</li>
                            </ul>
                        </div>
                        [[ request.id ]]
                    </td>
                    <td>[[ request.user_id ]]</td>
                    <td>[[ request.address ]]</td>
                    <td>[[ request.mls_number ]]</td>
                    <td>
                        <div>[[ request.created_at|fromMysqlDate| date:"MMM d yyyy" ]]</div>
                        [[ request.created_at|fromMysqlDate| date:"hh:mm a" ]]
                    </td>
                    <td>[[ request.request_type|requestType ]]</td>
                    <td>[[ request.state|requestState ]]</td>
                    <td>
                        <div class="dropdown">
                            <button class="action" type="button" data-toggle="dropdown">action</button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a ng-href="/#/admin/[[ (request.request_type == settings.queue.type.flyer? 'flyer': 'approval') ]]/[[ request.id ]]/edit" class="change">Edit</a></li>
                                <li ng-if="request.state != states.approved"><a ng-href="#" ng-click="approve($event, request)" class="approve">Approve</a></li>
                                <li ng-if="request.state != states.declined"><a ng-href="#" ng-click="decline($event, request)" class="delete">Decline</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>