<div class="row top-bar">
    <div class="col-sm-4 col-lg-3">
        <form action="#">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
            </div>
        </form>
    </div>
    <div class="paging col-sm-4 col-sm-offset-4 col-lg-offset-5">
        Page 1 of 4
        <a href="#" class="prev">prev</a>
        <a href="#" class="next">next</a>
    </div>
</div>
<div class="admin-table user-managment">
    <div class="table-holder">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="header" ng-click="sortByKey(col)" ng-repeat="col in headParams" ng-class="{headerSortUp: col.isSortedUp(), headerSortDown: col.isSortedDown(), isSortable: col.isSortable}"><span ng-bind-html="col.title"></span></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="request in queue">
                    <td><span class="attention" data-toggle="tooltip" data-placement="bottom" title="Please note, this row is duplicate of row with Request ID: 6813">Dublicate</span>[[ request.id ]]</td>
                    <td>[[ request.user_id ]]</td>
                    <td>[[ request.address ]]</td>
                    <td>[[ request.mls_number ]]</td>
                    <td>[[ request.created_at ]]</td>
                    <td>[[ request.request_type|requestType ]]</td>
                    <td>[[ request.state|requestState ]]</td>
                    <td>
                        <div class="dropdown">
                            <button class="action" type="button" data-toggle="dropdown">action</button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="#" class="change">Edit</a></li>
                                <li><a href="#" class="approve" data-toggle="modal" data-target="#approve-request1">Approve</a></li>
                                <li><a href="#" class="delete" data-toggle="modal" data-target="#decline-request1">Decline</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>