<div id="wrapper">
    <lo-navbar-head></lo-navbar-head>
    <section class="container">
        <lo-admin-nav-bar></lo-admin-nav-bar>
        <lo-admin-collateral-form lo-template="template"></lo-admin-collateral-form>
    </section>
</div>
<lo-footer lo-user="user"></lo-footer>