<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <lo-admin-collateral-list lo-categories="categories" lo-templates="templates"></lo-admin-collateral-list>
</section>
