<div class="admin-panel btn-holder">
    <a href="#" ng-click="syncWithBase($event)" class="btn btn-default">Sync with Base</a>
</div>
<div id="userMessage"></div>
<div class="row top-bar">
    <div class="col-sm-4 col-lg-3">
        <lo-admin-panel-search lo-search-key="searchKey" lo-searching-string="searchingString"></lo-admin-panel-search>
    </div>
    <div class="paging col-sm-4 col-sm-offset-4 col-lg-offset-5">
        <lo-admin-panel-pagination lo-pagination="pagination"></lo-admin-panel-pagination>
    </div>
</div>
<div class="admin-table">
    <div class="table-holder">
        <table class="table table-striped" ng-show="isLoaded">
            <thead>
            <tr>
                <th class="header" ng-click="param.sort()" ng-repeat="param in headParams" ng-class="{headerSortUp: param.isSortedUp(), headerSortDown: param.isSortedDown(), isSortable: param.isSortable}"><span ng-bind-html="param.title"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, user) in users">
                <td>[[ user.id ]]</td>
                <td>[[ user.first_name ]]</td>
                <td>[[ user.last_name ]]</td>
                <td><a href="mailto:[[ user.email ]]">[[ user.email ]]</a></td>
                <td>[[ user.password ]]</td>
                <td>[[ user.roles|adminUserRole:roles|ucFirst ]]</td>
                <td>[[ user.title ]]</td>
                <!-- td>Malkovich</td -->
                <td>[[ user.phone ]]</td>
                <td>[[ user.mobile ]]</td>
                <!-- td>Feb 15, 2015</td -->
                <td>
                    <div>[[ user.created_at|fromMysqlDate| date:"MMM d yyyy" ]]</div>
                    [[ user.created_at|fromMysqlDate| date:"hh:mm a" ]]
                <td>
                    <div class="dropdown">
                        <button class="action" type="button" data-toggle="dropdown">action</button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="/#/admin/user/[[ user.id ]]/edit" class="change">Edit</a></li>
                            <li><a href="#" class="reset" ng-click="resetPassword($event, user)">Reset Password</a></li>
                            <li><a href="/switch?_switch_user=[[ user.email ]]" class="impersonate">Impersonate</a></li>
                            <li><a href="#" ng-click="delete($event, key, user)" class="delete">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>