<form ng-submit="submit(formLender)" class="css-form" novalidate name="formLender">
    <div class="row edit-user">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-5 col-lg-offset-4">
            <div id="lenderMessage"></div>

            <div class="alert alert-danger fade in" ng-show="!hideErrors && formLender.$submitted && !formLender.$valid">
                <a ng-href="#" class="close" ng-click="showErrors($event)">close</a>
                <div ng-show="formLender.name.$error.required">Lender name is required</div>
                <!-- phone -->
            </div>

            <h2>[[ title ]]</h2>
            <div class="thumbnail">
                <div class="realtor-photo"  style="text-align: center; height: 150px;">
                    <img ng-src="[[ lender.picture | defaultImage:'/images/empty-lender-150x525.png' ]]" alt="lender" ng-click="lenderPicture.choosePhoto()">
                </div>
                <div class="caption">
                   <span class="upload">
                        Upload Lender Logo
                        <div><input class="upload" id="lenderPhoto" type="file" valid-file name="fileimage" ng-model="lender.picture"></div>
                    </span>
                </div>
            </div>
            <div class="inputs-holder">
                <div class="input">
                    <input maxlength="50" class="input-lg" type="text" placeholder="Lender name" required="" ng-model="lender.name" name="name" ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <span>Lender disclosure applies to: All States</span>
            <textarea class="form-control" cols="30" rows="2" placeholder="Disclosure" required="" ng-model="lender.disclosure" name="disclosure"></textarea>
            <a style="float: right; margin-top: -30px;margin-bottom: 20px;"  ng-href="/#/">+ Add a disclosure</a><br/>


            <span>Lender disclosure applies to: CA</span>
            <textarea class="form-control" cols="30" rows="2" placeholder="Disclosure" required="" ng-model="lender.disclosure" name="disclosure"></textarea>
            <a style="float: right; margin-top: -30px;margin-bottom: 20px;"  ng-href="/#/">- Delete disclosure</a>

            <button class="btn btn-default btn-lg">Save</button>
            <div class="bottom-nav">
                <a ng-if="lender.id" ng-href="#" ng-click="delete($event)" class="delete pull-right">Delete lender</a>
                <a ng-href="/#/" ng-click="cancel($event)" class="back">Cancel</a>
            </div>
        </div>
    </div>
</form>