<lo-navbar-head></lo-navbar-head>

<section class="container">
    <lo-admin-nav-bar></lo-admin-nav-bar>
    <lo-user-info lo-officer="officer" lo-redirect="[[ redirectUrl ]]"></lo-user-info>
</section>