<div id="messageContainer"></div>
<div class="row top-bar">
    <div class="col-sm-4 col-lg-3">
        <lo-admin-panel-search lo-search-key="searchKey" lo-searching-string="searchingString"></lo-admin-panel-search>
    </div>
    <div class="paging col-sm-4 col-sm-offset-4 col-lg-offset-5">
        <lo-admin-panel-pagination lo-pagination="pagination"></lo-admin-panel-pagination>
    </div>
</div>
<div class="admin-table lenders-table">
    <div class="table-holder">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="header" ng-click="param.sort()" ng-repeat="param in headParams" ng-class="{headerSortUp: param.isSortedUp(), headerSortDown: param.isSortedDown(), isSortable: param.isSortable}"><span ng-bind-html="param.title"></span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, lender) in lenders">
                <td>[[ lender.id ]]</td>
                <td>[[ lender.name ]]</td>
                <td>
                    <span ng-repeat="(key, disclosure) in lender.disclosures">
                        <a href="#" data-toggle="modal" data-target="#showLenderDisclosure-[[disclosure.id]]" data-disclosure="[[ disclosure.disclosure ]]">[[ disclosure.state ]]</a><span ng-show="!$last">,</span>
                    </span>
                </td>
                <td>
                    <img style="height: 50px;max-width: 175px; " ng-src="[[ lender.picture | defaultImage:'/images/empty-lender-150x525.png' ]]" alt="lender">
                </td>
                <td>
                    <div class="dropdown">
                        <button class="action" type="button" data-toggle="dropdown">action</button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            <li><a href="/#/admin/lender/[[ lender.id ]]/edit" class="change">Edit</a></li>
                            <li><a href="#" ng-click="delete($event, key, lender)" class="delete">Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div ng-repeat="(key, lender) in lenders">
<div ng-repeat="(key, disclosure) in lender.disclosures" class="modal fade" ng-attr-id="[[ 'showLenderDisclosure-' + disclosure.id ]]" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">close</button>
                <h4 class="modal-title">Disclosure</h4>
            </div>

            <div class="modal-body">
                <div class="logo-box">
                    <h5>[[ lender.name ]]</h5>
                    <p ng-show="disclosure.state != 'US'">Lender disclosure applies to: [[ disclosure.state ]]</p>
                    <p ng-show="disclosure.state == 'US'">Lender disclosure applies to: All States</p>
                </div>
                <div class="logo-box">
                    <p>[[ disclosure.disclosure ]]</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>