<div class="panel-group queue">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="panel-title">
                <a class="" data-toggle="collapse" href="#for-homebuyers" aria-controls="for-homebuyers" aria-expanded="true"><span class="arrow"></span>Collateral for Homebuyers: <span class="badge">4</span></a>
            </strong>
        </div>
        <div id="for-homebuyers" class="panel-collapse collapse in" aria-expanded="true">
            <div class="row thumbnails">
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="panel-title">
                <a class="collapsed" data-toggle="collapse" href="#real-estate" aria-controls="real-estate"><span class="arrow"></span>Collateral for Real Estate Agents: <span class="badge">19</span></a>
            </strong>
        </div>
        <div id="real-estate" class="panel-collapse collapse">
            <div class="row thumbnails">
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="panel-title">
                <a class="collapsed" data-toggle="collapse" href="#listing-flyers" aria-controls="listing-flyers"><span class="arrow"></span>Listing Flyers: <span class="badge">2</span></a>
            </strong>
        </div>
        <div id="listing-flyers" class="panel-collapse collapse">
            <div class="row thumbnails">
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                            <i class="fa fa-archive"><span>Archives</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                            <i class="fa fa-archive"><span>Archives</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                            <i class="fa fa-archive"><span>Archives</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                            <i class="fa fa-pencil"><span>Edit</span></i>
                            <i class="fa fa-archive"><span>Archives</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong class="panel-title">
                <a class="collapsed" data-toggle="collapse" href="#program-reference" aria-controls="program-reference"><span class="arrow"></span>Program Reference: <span class="badge">2</span></a>
            </strong>
        </div>
        <div id="program-reference" class="panel-collapse collapse">
            <div class="row thumbnails">
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <div class="thumbnail">
                        <div class="thumb-holder">
                            <img src="images/img01.jpg" width="263" height="258" alt="">
                        </div>
                        <div class="caption">
                            <address>928 S Eldorado St San Mateo, CA 94402</address>
                        </div>
                        <div class="item-control">
                            <i class="fa fa-download"><span>Download</span></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
