<div class="panel panel-default" ng-if="items.length > 0">
    <div class="panel-heading">
        <strong class="panel-title">
            <a data-toggle="collapse"
               href="#category-listing-flyers"
               aria-controls="category-listing-flyers">
                <span class="arrow"></span>Listing Flyers:
                <span class="badge">[[items.length]]</span>
            </a>
        </strong>
    </div>
    <div id="category-listing-flyers" class="panel-collapse collapse in">
        <div class="row thumbnails">
            <div class="col-sm-4 col-lg-3" ng-repeat="queue in items">
                <div class="thumbnail">
                    <div class="thumb-holder">
                        <img ng-src="[[ queue.photo ]]" style="width: 263px; height: 175px;" alt="">
                    </div>
                    <div class="caption">
                        <address>[[ queue.address ]]</address>
                    </div>
                    <div class="item-control">
                        <a target="_blank" href="/request/flyer/[[ queue.id ]]/download">
                            <i class="fa fa-download"><span>Download</span></i>
                        </a>
                        <a href="/#/flyer/[[queue.id]]/edit">
                            <i class="fa fa-pencil"><span>Edit</span></i>
                        </a>
                        <a href="#">
                            <i class="fa fa-archive"><span>Archive</span></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
