<div class="row thumbnails">
    <div class="col-sm-4 col-lg-3" ng-repeat="queue in items">
        <div class="thumbnail">
            <div class="thumb-holder">
                <img ng-src="[[ queue.photo ]]" style="width: 263px; height: 175px;" alt="">
            </div>
            <div class="caption">
                <address>[[ queue.address ]]</address>
            </div>
            <div class="link">
                <a target="_blank" href="/request/flyer/[[ queue.id ]]/download" class="download">Download Listing Flyer</a>
            </div>
        </div>
    </div>
</div>