<div>
    <lo-navbar-head></lo-navbar-head>
    <section class="container">
        <lo-dashboard-head></lo-dashboard-head>
        <div class="panel-group queue">
            <lo-dashboard-row ng-repeat="(k,v) in settingRows"
                              lo-items="dashboard[k]"
                              lo-id="[[ v.id ]]"
                              lo-title="[[ v.title ]]"
                              lo-is-expand="v.isExpand"
            ></lo-dashboard-row>
        </div>
    </section>
</div>