<div class="panel panel-default" ng-show="items.length > 0">
    <div class="panel-heading">
        <strong class="panel-title">
            <a class="collapsed" data-toggle="collapse" href="#[[ id ]]" aria-controls="inProcess"><span class="arrow"></span>[[ title ]] <span class="badge">[[ items.length ]]</span></a>
        </strong>
    </div>
    <div id="[[ id ]]" class="panel-collapse collapse">
        <table class="tablesorter table table-striped">
            <thead>
            <tr>
                <th><span>Created</span></th>
                <th><span>Property Address</span></th>
                <th><span>Type</span></th>
                <th><span>Actions</span></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(k,v) in items">
                <td>
                    <div>[[ v.created_at|fromMysqlDate| date:"MMM d yyyy" ]]</div>
                    [[ v.created_at|fromMysqlDate| date:"HH:mm a" ]]
                </td>
                <td>[[ v.address ]]</td>
                <td>[[ v.request_type|dashboardType ]]</td>
                <td>
                    <a ng-if="items[k].state == {{ constant('\\LO\\Model\\Entity\\Queue::STATE_APPROVED') }}" ng-href="[[ v.flyer.pdf_link ]]" class="download">Download PDF</a>
                    <a ng-if="items[k].state != {{ constant('\\LO\\Model\\Entity\\Queue::STATE_APPROVED') }}" href="#" class="cancel" data-id="[[ v.id ]]">Cancel</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>