<div>
    <lo-navbar-head></lo-navbar-head>
    <section class="container">
        <lo-dashboard-head></lo-dashboard-head>
        <dashboard-collateral lo-items="data"></dashboard-collateral>
    </section>
</div>