{#<header class="page-title">#}


    {#&#123;&#35;<div class="col-sm-12">&#35;&#125;#}
        {#&#123;&#35;&#35;&#125;#}
    {#&#123;&#35;</div>&#35;&#125;#}
    {#&#123;&#35;<ul class="tabset">&#35;&#125;#}
        {#&#123;&#35;<li ng-repeat="tab in tabs" ng-class="{active: tab.isActive()}">&#35;&#125;#}
            {#&#123;&#35;<a href="/#[[ tab.path ]]">[[ tab.title ]]</a>&#35;&#125;#}
        {#&#123;&#35;</li>&#35;&#125;#}
    {#&#123;&#35;</ul>&#35;&#125;#}


    {#<nav class="navbar navbar-default" style="border: none; margin: 0;">#}

        {#<div class="container-fluid">#}
            {#<div class="navbar-header">#}
                {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
                    {#<span class="sr-only">Toggle navigation</span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                    {#<span class="icon-bar"></span>#}
                {#</button>#}
                {#<h1>Dashboard</h1>#}
            {#</div>#}
            {#<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
                {#<ul class="nav navbar-nav">#}
                    {#<li ng-repeat="tab in tabs" ng-class="{active: tab.isActive()}">#}
                        {#<a style="color: #195ad1" href="/#[[ tab.path ]]">[[ tab.title ]]</a>#}
                    {#</li>#}
                {#</ul>#}
            {#</div>#}
        {#</div>#}
    {#</nav>#}
{#</header>#}