<div ng-cloak>
    <lo-navbar-head></lo-navbar-head>
    <section class="container">
        <header class="page-title">
            <h1>Dashboard</h1>
            <ul class="tabset">
                <li ng-class="{active: queueChecked}"><a href="#" ng-click="show($event, 'queue')">Requests Queue</a></li>
                <li ng-class="{active: !queueChecked}"><a href="#" ng-click="show($event, 'collateral')">Custom Collateral</a></li>
            </ul>
            <div class="btn-holder">
                <a href="#" class="btn btn-default">New Property Approval</a>
                <a href="#" class="btn btn-default" ng-click="createListingFlyerRequest($event)">New Listing Flyer</a>
            </div>
        </header>
        <div class="panel-group queue" ng-if="queueChecked">
            <lo-dashboard-row ng-repeat="(k,v) in settingRows"
                              lo-items="dashboard[k]"
                              lo-id="[[ v.id ]]"
                              lo-title="[[ v.title ]]"
                              lo-is-expand="v.isExpand"
            ></lo-dashboard-row>
        </div>

        <dashboard-collateral ng-if="!queueChecked" lo-items="dashboard[queueStateApproved]"></dashboard-collateral>
    </section>
</div>