Your Property Approval Request has been approved. Visit FirstREX portal to view your property approvals or to request a listing flyer: {{ url }}

{% include 'email.property.approval.new.twig' %}

{% if data.note is defined and data.note is not empty %}
    <h2>Note</h2>
    <table border="0">
        <tr>
            <td>{{data.note}}</td>
        </tr>
    </table>
{% endif %}
