Thank You for submitting the Property Info!<br>
We will notify you by email when the request is approved.

{% include 'email.loan.officer.twig' with {user: queue.getUser()} %}

<h2>Property info</h2>
<table border="0">
    <tr>
        <td>Property address:</td>
        <td>{{ queue.getAddress() }}</td>
    </tr>
</table>