<p style="font-weight: bold;">Welcome to the REX HomeBuyer <a href="{{app.url('index')}}#/">Loan Officer Portal</a></p>

<p style="font-weight: bold;">Property Approvals and Listing Flyer requests just became easier! Log on to receive an immediate approval on a property for the REX HomeBuyer program, as well as create listing flyers within minutes.</p>

<b>Username: {{ email }}</b><br>
<b>Password: {{ password }}</b><br>

<p>If you’d like to change your password at any point, please click on your profile photo, Edit Profile and Change Password.</p>

<p>Questions? Please feel free to contact your local Sales Director:</p>

<p>Northern California: Mike Lyon 925.548.5157 <a href="mike.lyon@1rex.com">mike.lyon@1rex.com</a><br/>
Southern California: Jim McGuire 310.909.6167 <a href="jim.mcguire@1rex.com">jim.mcguire@1rex.com</a><br/>
Pacific NorthWest: Paul Careaga 253.677.4470 <a href="paul.careaga@1rex.com">paul.careaga@1rex.com</a></p>

<b>Thank you,</b><br>
<b>REX HomeBuyer Team</b>