<div class="container">
    <div class="row">
        <div class="ligin-form col-sm-6 col-lg-4 col-sm-offset-3 col-lg-offset-4">
            <form ng-submit="formLogin.$valid && signin($event)" class="css-form" novalidate name="formLogin">
                <div class="alert alert-danger fade in" role="alert" ng-show="errorMessage">
                    [[ errorMessage ]]
                </div>

                <div class="alert alert-danger fade in" role="alert" ng-show="isValidEmail(formLogin)">
                    <span ng-show="formLogin.email.$error.email">The entered email is invalid.</span>
                    <span ng-show="formLogin.email.$error.required">Email can't be empty.</span>
                </div>
                <div class="alert alert-danger fade in" role="alert" ng-show="isValidPassword(formLogin)">
                    <span ng-show="formLogin.password.$error.required">Password can't be empty.</span>
                </div>

                <div class="logo-holder">
                    <a href="/#/"><img src="images/logo.png" width="135" height="70" alt="firstREX"></a>
                </div>
                <div class="welcome-msg">
                    <strong>Welcome to the FirstREX Loan Officer Portal.</strong>
                </div>
                <div class="inputs-holder">
                    <div class="input" ng-class="{error: isValidEmail(formLogin)}">
                        <input class="input-lg" type="email" placeholder="Email" ng-model="user.email" name="email" required="" ng-keyup="complete($event)">
                    </div>
                    <div class="input" ng-class="{error: isValidPassword(formLogin)}">
                        <input class="input-lg" type="password" placeholder="Password" ng-model="user.password" required="" name="password">
                    </div>
                </div>
                <div class="wrap">
                    <a href="#"  data-toggle="modal" data-target="#resetPass">Reset password</a>
                </div>
                <button class="btn btn-default btn-lg">Log in</button>
                <p class="note">Do not have an account yet? <a href="mailto:info@1rex.com">Register</a></p>
            </form>
        </div>
    </div>
</div>

<!-- Introduction start -->
<div class="modal fade" id="modal-introduction" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="min-width: 665px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">close</button>
                <h4 class="modal-title">Introduction</h4>
            </div>
            <div class="modal-body">
                <p>
                    I’d like to become a REX HomeBuyer Preferred Mortgage Professional and receive REX HomeBuyer
                    collateral and other materials from FirstREX Agreement Corp. (“FirstREX”). When I sign up, FirstREX
                    will provide me with a copy of the REX HomeBuyer Preferred Mortgage Professional Buying Guide.
                </p>
                <p>
                    I will read the Buying Guide and comply with the process for introducing
                    clients to FirstREX as explained within. I give FirstREX permission to send me emails and other
                    informational materials about the REX HomeBuyer program from time to time at the mailing and email
                    addresses listed above. I acknowledge that all materials I receive will have been prepared by
                    FirstREX as its exclusive, approved general introductory information on the REX HomeBuyer program.
                </p>
                <p>
                    As a REX HomeBuyer Preferred Mortgage Professional, I will not be
                    authorized to provide additional information to prospective home buyers
                    about the program, but I may introduce interested home buyers to FirstREX
                    and/or its product specialists who can provide further information and answer additional questions.
                    A REX HomeBuyer Preferred Mortgage Professional does not receive compensation from FirstREX and is
                    not its employee, agent, partner or affiliate.
                </p>
                <hr>
                <div class="checkholder">
                    <input ng-model="user.first_time"
                           ng-true-value="'1'"
                           ng-false-value="'0'"
                           type="checkbox"
                           name="first_time"
                           id="first_time">
                    <label for="first_time">I Agree</label>
                </div>
                <button ng-disabled="user.first_time == 0"
                        ng-click="signin($event)"
                        ng-class="user.first_time == 0 ? 'btn-danger' : 'btn-default'"
                        class="btn center-block"
                        style="min-width: 260px;"
                        type="submit">Continue</button>
            </div>
        </div>
    </div>
</div>
<!-- Introduction end -->

<div class="modal fade" id="resetPass" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">close</button>
                <h4 class="modal-title">Reset password</h4>
                <p>Enter your email address and we will send you a new password.</p>
            </div>
            <form ng-submit="formResetPassword.$valid && resetPassword(formResetPassword)" novalidate name="formResetPassword">
                <div class="modal-body">
                    <div class="input" ng-class="{error: isValidEmail(formResetPassword)}">
                        <input type="email" placeholder="Email" class="form-control input-lg" required="" name="email" value="" ng-model="emailForResetPassword">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default btn-lg">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>