<div id="wrapper">
    <lo-navbar-head></lo-navbar-head>
    <section class="container">
        <lo-user-info lo-officer="officer"></lo-user-info>
    </section>
</div>
<lo-footer lo-user="user"></lo-footer>
