Hi, You recently requested a password reset.
<br>
To change your Loan Officer Portal password, please click here: <a href="{{ app.url('index') }}#/recover/{{ id }}/{{ signature }}" target="_blank">Recovery password</a>.
<br>
Once logged in, you have the option to change your password by logging into the portal – Profile Dropdown  – Edit Profile.
<br> 

Thanks for using the REX HomeBuyer Loan Officer Portal!<br>
The FirstREX Team