<section class="container">
    <header class="page-title">
        <h1>[[ titles.header ]]</h1>
        <button ng-if="titles.infoText"
                set-tooltip
                type="button"
                class="btn btn-link btn-info-link"
                data-placement="left"
                data-content="[[titles.infoText]]"><i class="fa fa-2x fa-info-circle"></i></button>
    </header>
    <div class="alert alert-danger fade in" role="alert" ng-show="newApproval.$submitted && (newApproval.searchPlace.$error.required || newApproval.searchPlace.$error.googleAddress)">
        <div ng-show="newApproval.searchPlace.$error.required">Property Address is required.</div>
        <div ng-show="newApproval.searchPlace.$error.googleAddress">Property address is incorrect.</div>
    </div>
    <div class="row approval-form">
        <div class="col-sm-4 text-center">
            <label class="control-label" for="searchPlace">Address:</label>
            <input ng-change="changeSearchField()"
                   ng-model="request.property.address"
                   name="searchPlace"
                   type="text"
                   placeholder=""
                   class="form-control input-lg"
                   id="searchPlace"
                   required="">
        </div>
        <div class="col-sm-2 text-center">
            <label class="control-label" for="fild-apartment">Unit #:</label>
            <input ng-model="request.property.apartment"
                   name="apartment"
                   type="text"
                   class="form-control input-lg"
                   id="fild-apartment"
                   required="">
        </div>
        <div class="col-sm-6 text-center">
            <label class="control-label" for="">Submit for a:</label>
            <div class="btn-holder">
                <a ng-click="request.property.user_type = userType.buyer;save($event)"
                   href="#"
                   class="btn btn-default btn-lg">Buyer</a>
                <a ng-click="request.property.user_type = userType.seller;save($event)"
                   href="#"
                   class="btn btn-default btn-lg">Seller</a>
            </div>
        </div>
    </div>
    <div id="location"></div>
</section>
