<lo-navbar-head></lo-navbar-head>
<section class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 thanks-box">
            <h1>Thank You for submitting the Property Info!</h1>
            <em>We will notify you by email when the request is approved.</em>
            <hr>
            <strong>What do you want to do next?</strong>
            <div class="btn-holder">
                <a href="#" class="btn btn-default" ng-click="goto($event, '/')">Back to Dashboard</a>
                <a href="#" class="btn btn-default" ng-click="goto($event, '/flyer/new')">Request Another Flyer</a>
            </div>
        </div>
    </div>
</section>