<section class="container">
    <header class="page-title">
        <h1>[[ titles.header ]]</h1>
        <button set-tooltip
                type="button"
                class="btn btn-link btn-info-link"
                data-placement="left"
                data-content="[[titles.infoText]]"><i class="fa fa-2x fa-info-circle"></i></button>
    </header>
    <div class="download-sample-flyer">
        <a href="/docs/resources/sample-flyer.pdf" download="sample-flyer">
            <i class="fa fa-download"></i> Download Sample
        </a>
    </div>
    <div class="row listing">
        <aside class="sidebar col-sm-3">
            <h2>Loan Officer Info</h2>
            <a ng-show="user.isAdmin()" href="/#/admin/user/[[ officer.id ]]/edit" class="change">Change</a>
            <a ng-show="!user.isAdmin()" href="/#/user/[[ officer.id ]]/edit" class="change">Change</a>
            <div class="info-photo">
                <img ng-src="[[ officer.picture | defaultImage:'/images/empty-user.png' ]]" alt="loan officer">
            </div>
            <dl>
                <dt>First Name</dt>
                <dd>[[ officer.first_name ]]</dd>
                <dt>Last name</dt>
                <dd>[[ officer.last_name ]]</dd>
                <dt>Title</dt>
                <dd>[[ officer.title ]]</dd>
                <dt>Lender</dt>
                <dd>[[ officer.lender.name ]]</dd>
                <dt>Primary Phone</dt>
                <dd>[[ officer.phone ]]</dd>
                <dt>Mobile Phone</dt>
                <dd>[[ officer.mobile ]]</dd>
                <dt>Address</dt>
                <dd>[[ officer.address.formatted_address ]]</dd>
                <dt>Email Address</dt>
                <dd><a ng-href="mailto:[[ officer.email ]]">[[ officer.email ]]</a></dd>
                <dt>NMLS #</dt>
                <dd>[[ officer.nmls ]]</dd>
            </dl>
            <div class="contact-info">
                <h4>Questions?</h4>
                <p>
                    Call your Sales Director [[ officer.sales_director ]]<br />
                    <strong>[[ officer.sales_director_phone ]]</strong>
                </p>
                <p>
                    or Business Support at <br />
                    <strong>(800) 365-3901</strong>
                </p>
            </div>
        </aside>

        <form ng-submit="save(newFlyer)" novalidate name="newFlyer">
            <main class="col-sm-8 col-md-6 col-lg-5 col-sm-offset-1">
                <div id="errors"></div>
                <div ng-show="!hideErrors && !newFlyer.$valid" class="alert alert-danger fade in">
                    <a ng-href="#" class="close" aria-label="Close" ng-click="showErrors($event)">close</a>
                    <!-- property photo -->
                    <div ng-show="newFlyer.fileimage.$error.required">The Property image is required.</div>
                    <!-- address -->
                    <div ng-show="newFlyer.address.$error.required">The Property address is required.</div>
                    <div ng-show="newFlyer.address.$error.address_components">The Property address is invalid.</div>
                    <!-- Listing price -->
                    <div ng-show="newFlyer.listing_price.$error.required">The Listing price is required.</div>
                    <div ng-show="newFlyer.listing_price.$error.pattern">
                        The Listing price should look like $1,000,000.
                    </div>
                    <!-- realtor first name -->
                    <div ng-show="newFlyer.first_name.$error.required">The First name is required.</div>
                    <div ng-show="newFlyer.first_name.$error.pattern">The First name is invalid.</div>
                    <!-- realtor last name -->
                    <div ng-show="newFlyer.last_name.$error.required">The Last name is required.</div>
                    <div ng-show="newFlyer.last_name.$error.pattern">The Last name is required.</div>
                    <!-- realtor phone number -->
                    <div ng-show="newFlyer.phone.$error.required">The Phone is required.</div>
                    <div ng-show="newFlyer.phone.$invalid">The Phone is invalid.</div>

                    <!-- realtor email -->
                    <div ng-show="newFlyer.email.$error.required">The Email is required.</div>
                    <div ng-show="newFlyer.email.$invalid">The Email is invalid.</div>

                    <!-- realtor company -->
                    <div ng-show="newFlyer.realty_logo.$error.required">The Realty logo is required.</div>
                    <div ng-show="newFlyer.realtor_company.$error.pattern">The Realtor company is invalid.</div>
                </div>

                <h2>Property Info</h2>
                <div class="thumbnail">
                    <div class="property-photo" style="text-align: center;">
                        <div class="alert alert-info alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Crop photo by dragging the edges and corners of the light blue box over the photo. You can also enlarge or reduce the photo by using two finger gestures on your trackpad or the scrollwheel on your mouse.
                        </div>
                        <img ng-src="[[ request.property.photo | defaultImage:'/images/empty-big.png' ]]" height="258" alt="" ng-click="propertyPicture.choosePhoto()">
                    </div>
                    <div class="caption">
                        <span class="upload">
                            Upload Property image
                            <div><input class="upload" id="propertyImage" type="file" valid-file name="fileimage" required="" ng-model="request.property.photo"></div>
                        </span>
                    </div>
                </div>

                <div class="inputs-holder">
                    <div class="input">
                        <input ng-readonly="isAddressReadOnly()"
                               ng-keypress="clearAddress($event)"
                               ng-model="request.property.address"
                               validate-google-address
                               name="address"
                               type="text"
                               class="input-lg"
                               id="pac-input"
                               placeholder="Property Address"
                               required="">
                    </div>
                    <div class="input">
                        <input type="text"
                               name="apartment"
                               class="input-lg"
                               placeholder="Apt/Ste#"
                               ng-model="request.property.apartment">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="MLS Number (Optional)" ng-model="request.property.mls_number">
                    </div>
                    <div ng-class="{'input':true, 'input-price':true, 'error': newFlyer.listing_price.$touched && newFlyer.listing_price.$invalid }">
                        <input class="input-lg" type="text" ng-pattern="/^\$?\d+(,\d+)*$/" name="listing_price" placeholder="Listing Price" ng-model="request.property.listing_price" required>
                    </div>
                    <div
                            ng-show="user.isAdmin()"
                            ng-class="{'input':true, 'input-percent':true, 'error': newFlyer.funded_percentage.$invalid }">
                        <input class="input-lg" type="number" min="10" max="12.5" step="0.1" name="funded_percentage" placeholder="FirstREX Down Payment" ng-model="request.property.funded_percentage" required>
                    </div>
                    <div
                            ng-show="user.isAdmin()"
                            ng-class="{'input':true, 'input-percent':true, 'error': newFlyer.maximum_loan.$invalid }">
                        <input class="input-lg" type="number" min="75" max="80" name="maximum_loan" placeholder="LTV" ng-model="request.property.maximum_loan" required>
                    </div>

                </div>
                <hr>

                <div class="check-holder">
                    <select class="form-control input-lg"
                            ng-change="setRealtorData()"
                            ng-model="realtorSelect"
                            ng-options="option.value as option.name group by option.type for option in realtorOptions"></select>
                </div>

                <div ng-show="realtorSelect == 'add'">
                    <h2>Realtor Info</h2>
                    <div class="main-info">
                        <div class="user-photo">
                            <div class="realtor realtor-photo">
                                <img ng-src="[[ request.realtor.photo | defaultImage:'/images/empty-user.png' ]]"
                                     alt=""
                                     ng-click="realtorPicture.choosePhoto()">
                            </div>
                            <span class="upload">
                                Upload Photo
                                <div>
                                    <input id="realtorImage"
                                           type="file"
                                           valid-file
                                           name="realtorfileimage"
                                           ng-model="request.realtor.photo">
                                </div>
                            </span>
                        </div>
                        <div class="inputs-holder">
                            <div class="input">
                                <input class="input-lg"
                                       type="text"
                                       placeholder="First name"
                                       ng-pattern="/^[A-Za-z\s]+$/"
                                       ng-model="request.realtor.first_name"
                                       ng-required="realtorSelect == 'add'"
                                       name="first_name">
                            </div>
                            <div class="input">
                                <input class="input-lg"
                                       type="text"
                                       ng-pattern="/^[A-Za-z\s]+$/"
                                       placeholder="Last name"
                                       ng-model="request.realtor.last_name"
                                       ng-required="realtorSelect == 'add'"
                                       name="last_name">
                            </div>
                        </div>
                    </div>
                    <div class="inputs-holder">
                        <div ng-class="{'input':true, 'error':newFlyer.phone.$dirty && newFlyer.phone.$invalid}">
                            <input class="input-lg"
                                   type="text"
                                   placeholder="Phone number"
                                   usa-phone
                                   ng-model="request.realtor.phone"
                                   ng-required="realtorSelect == 'add'"
                                   name="phone">
                        </div>
                        <div ng-class="{'input':true, 'error':newFlyer.email.$dirty && newFlyer.email.$invalid}">
                            <input ng-model="request.realtor.email"
                                   ng-required="realtorSelect == 'add'"
                                   ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                                   class="input-lg"
                                   type="email"
                                   placeholder="Email address"
                                   name="email">
                        </div>
                        <div class="input">
                            <input class="input-lg" type="text" placeholder="BRE number" ng-model="request.realtor.bre_number" name="bre">
                        </div>
                    </div>
                    <div class="thumbnail">
                        <div class="realtor-photo"  style="text-align: center; height: 130px;overflow: hidden;">
                            <img id="realtyLogoImage"
                                 data-ng-src="[[request.realtor.realty_logo|defaultImage: '/images/empty-company-150x525.png']]">
                        </div>
                        <div class="caption">
                            <span class="upload">Upload Company Logo
                                <div>
                                    <input class="upload"
                                           id="realtyLogo"
                                           type="file"
                                           valid-file
                                           name="realty_logo"
                                           ng-model="request.realtor.realty_logo">
                                </div>
                            </span>
                            <span class="upload" style="background-position: -21px 0;margin-left: 40px;" data-toggle="modal" data-target="#chooseRealtyCompanyLogo">Select Company Logo</span>
                        </div>
                    </div>
                    <div class="inputs-holder">
                        <div class="input">
                            <input class="input-lg"
                                   type="text"
                                   placeholder="Realtor company"
                                   name="realtor_company"
                                   ng-model="request.realtor.realty_name"
                                   ng-pattern="/^[a-zA-Z0-9][a-zA-Z0-9()\.\-#&\s]*$/">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 pull-right" ng-if="request.property.state != states.approved">
                        <button class="btn btn-default btn-lg">[[ titles.button ]]</button>
                    </div>
                    <div class="col-sm-4 pull-right" ng-if="!request.property.state || request.property.state == states.draft || request.property.state == states.approved">
                        <button class="btn btn-default btn-lg" ng-click="saveDraftOrApproved($event, newFlyer)">Save</button>
                    </div>
                    <div class="col-sm-4">
                        <a ng-if="!request.id" ng-href="/#/" class="back">Back to dashboard</a>
                        <a ng-if="request.id" ng-href="/" ng-click="cancel($event);" class="back">Cancel</a>
                    </div>
                </div>
            </main>
        </form>
    </div>
</section>

<div class="modal fade" id="chooseRealtyCompanyLogo" tabindex="-1" role="dialog" aria-hidden="true" data-ng-controller="SelectRealtyLogoController">
    <div class="modal-dialog" style="width: 665px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">close</button>
                <h4 class="modal-title">Select Company Logo</h4>
            </div>

          <div class="modal-body">
              <div class="logo-box">
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by company name" data-ng-model="test.realtyName">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                       </span>
                  </div>
                  <ul>
                      <li data-ng-click="selectRealtyLogo(realtyCompany)" data-ng-repeat="realtyCompany in realtyCompanies | filter:{name:test.realtyName||''} | orderBy:name | limitTo:9">
                          <a><img data-ng-src="{{ '{{realtyCompany.logo }}' }}" alt="{{ '{{realtyCompany.name }}' }}"></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
</div>
