<section class="container">
    <header class="page-title">
        <h1>[[ titles.header ]]</h1>
        <div class="link" ng-if="!request.id">
            <a href="/static/Example Listing Flyer.pdf" target="_blank" class="download">Download Sample</a>
        </div>
    </header>
    <div class="row listing">
        <aside class="sidebar col-sm-3">
            <h2>Loan Officer Info</h2>
            <a href="/#/user/[[ user.id ]]/edit" class="change">Change</a>
            <dl>
                <dt>First Name</dt>
                <dd>[[ user.first_name ]]</dd>
                <dt>Last name</dt>
                <dd>[[ user.last_name ]]</dd>
                <dt>Title</dt>
                <dd>[[ user.title ]]</dd>
                <dt>Sales Director</dt>
                <dd>[[ user.sales_director ]]</dd>
                <dt>Sales Manager Email</dt>
                <dd>[[ user.sales_director_email ]]</dd>
                <dt>Lender</dt>
                <dd>[[ user.lender ]]</dd>
                <dt>Primary Phone</dt>
                <dd>[[ user.phone ]]</dd>
                <dt>Email Address</dt>
                <dd><a ng-href="mailto:[[ user.email ]]">[[ user.email ]]</a></dd>
                <dt>NMLS #</dt>
                <dd>[[ user.nmls ]]</dd>
            </dl>
        </aside>

        <form ng-submit="newFlyer.$valid && save()" novalidate name="newFlyer">
            <main class="col-sm-8 col-md-6 col-lg-5 col-sm-offset-1">
                <h2>Property Info</h2>
                <div class="thumbnail">
                    <div class="property-photo" style="text-align: center;">
                        <img ng-src="[[ request.property.photo|propertyImage ]]" height="258" alt="" ng-click="propertyPicture.choosePhoto()">
                    </div>
                    <div class="caption">
                        <span class="upload">
                            Upload Property image
                            <div><input class="upload" id="propertyImage" type="file" valid-file name="fileimage" required="" ng-model="request.property.photo"></div>
                        </span>
                        <span class="error-badge" ng-show="newFlyer.$submitted && newFlyer.fileimage.$error.required" data-toggle="tooltip" data-placement="right" title="The Property image is required.">!</span>
                    </div>
                </div>
                <div class="inputs-holder">
                    <div class="input">
                        <input ng-readonly="isAddressReadOnly()" class="input-lg" id="pac-input" name="address" type="text" placeholder="Property Address" ng-model="request.property.address" required="" google-address ng-model-options="{ updateOn: 'blur' }">
                        <span ng-show="(newFlyer.$submitted || newFlyer.address.$touched) && newFlyer.address.$error.required" data-toggle="tooltip" data-placement="right" title="The Property address is required.">!</span>
                        <span ng-show="(newFlyer.$submitted || newFlyer.address.$touched) && newFlyer.address.$error.googleAddress" data-toggle="tooltip" data-placement="right" title="The Property address is invalid.">!</span>
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="MLS Number (Optional)" ng-model="request.property.mls_number">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" name="listing_price" placeholder="Listing Price" ng-model="request.property.listing_price" required="">
                        <span ng-show="(newFlyer.$submitted || newFlyer.listing_price.$touched) && newFlyer.listing_price.$error.required" data-toggle="tooltip" data-placement="right" title="The Listing price is required.">!</span>
                    </div>
                </div>
                <hr>
                <h2>Realtor Info</h2>
                <div class="main-info">
                    <div class="user-photo">
                        <div class="realtor-photo">
                            <img ng-src="[[ request.realtor.photo|realtorImage ]]" alt="" ng-click="realtorPicture.choosePhoto()">
                        </div>
                        <span class="upload">
                            Upload Photo
                            <div><input id="realtorImage" type="file" valid-file name="realtorfileimage" required="" ng-model="request.realtor.photo"></div>
                        </span>
                        <span class="error-badge" ng-show="(newFlyer.$submitted || newFlyer.realtorfileimage.$touched) && newFlyer.realtorfileimage.$error.required" data-toggle="tooltip" data-placement="right" title="The Realtor image is required.">!</span>
                    </div>
                    <div class="inputs-holder">
                        <div class="input">
                            <input class="input-lg" type="text" placeholder="First name" ng-pattern="/^[A-Za-z\s]+$/" ng-model="request.realtor.first_name" required="" name="first_name">
                            <span ng-show="(newFlyer.$submitted || newFlyer.first_name.$touched) && newFlyer.first_name.$error.required" data-toggle="tooltip" data-placement="left" title="The First name is required.">!</span>
                            <span ng-show="(newFlyer.$submitted || newFlyer.first_name.$touched) && newFlyer.first_name.$error.pattern" data-toggle="tooltip" data-placement="left" title="The First name is invalid.">!</span>
                        </div>
                        <div class="input">
                            <input class="input-lg" type="text" ng-pattern="/^[A-Za-z\s]+$/" placeholder="Last name" ng-model="request.realtor.last_name" required="" name="last_name">
                            <span ng-show="(newFlyer.$submitted || newFlyer.last_name.$touched) && newFlyer.last_name.$error.required" data-toggle="tooltip" data-placement="left" title="The Last name is required.">!</span>
                            <span ng-show="(newFlyer.$submitted || newFlyer.last_name.$touched) && newFlyer.last_name.$error.pattern" data-toggle="tooltip" data-placement="left" title="The Last name is required.">!</span>
                        </div>
                    </div>
                </div>
                <div class="inputs-holder">
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="Phone number" ng-pattern="/^\(?(\d{3})\)?[-\. ]?(\d{3})[-\. ]?(\d{4})$/" ng-model="request.realtor.phone" required="" name="phone">
                        <span ng-show="(newFlyer.$submitted || newFlyer.phone.$touched) && newFlyer.phone.$error.required" data-toggle="tooltip" data-placement="right" title="The Phone is required.">!</span>
                        <span ng-show="(newFlyer.$submitted || newFlyer.phone.$touched) && newFlyer.phone.$error.pattern" data-toggle="tooltip" data-placement="right" title="The Phone is invalid.">!</span>
                    </div>
                    <div class="input">
                        <input class="input-lg" type="email" placeholder="Email address" ng-model="request.realtor.email" required="" name="email">
                        <span ng-show="(newFlyer.$submitted || newFlyer.email.$touched) && newFlyer.email.$error.required" data-toggle="tooltip" data-placement="right" title="The Email is required.">!</span>
                        <span ng-show="(newFlyer.$submitted || newFlyer.email.$touched) && newFlyer.email.$error.email" data-toggle="tooltip" data-placement="right" title="The Email is invalid.">!</span>
                    </div>
                </div>
                <div class="inputs-holder">
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="BRE number" ng-model="request.realtor.bre_number" name="bre">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="Real estate agency" ng-model="request.realtor.estate_agency" name="agency">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 pull-right">
                        <button class="btn btn-default btn-lg">[[ titles.button ]]</button>
                    </div>
                    <div class="col-sm-4 pull-right" ng-if="!request.property.state || request.property.state == stateDraft">
                        <button class="btn btn-default btn-lg" ng-click="saveDraft($event)">Save</button>
                    </div>
                    <div class="col-sm-4">
                        <a ng-if="!request.id" ng-href="/#/" class="back">Back to dashboard</a>
                        <a ng-if="request.id" ng-href="/" ng-click="cancel($event);" class="back">Cancel</a>
                    </div>
                </div>
            </main>
        </form>
    </div>
</section>