<section class="container">
    <header class="page-title">
        <h1>[[ titles.header ]]</h1>
    </header>
    <div class="alert alert-danger fade in" role="alert" ng-show="newApproval.$submitted && (newApproval.searchPlace.$error.required || newApproval.searchPlace.$error.googleAddress)">
        <div ng-show="newApproval.searchPlace.$error.required">Property Address is required.</div>
        <div ng-show="newApproval.searchPlace.$error.googleAddress">Property address is incorrect.</div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <input ng-change="changeSearchField()" ng-model="request.property.address" class="form-control input-lg" name="searchPlace" id="searchPlace" type="text" placeholder="Property Address" required="">
        </div>
        <div class="col-sm-2"><button type="submit" class="btn btn-default btn-lg">[[ isValid && newApproval.$valid? titles.button: "Check" ]]</button></div>
        <div class="col-sm-3 col-sm-offset-3 text-right">
            <a ng-if="!request.id" href="/#/" class="back">Back to dashboard</a>
            <a ng-if="request.id" ng-href="/#/" ng-click="cancel($event)" class="back">Cancel</a>
        </div>
    </div>
    <div id="location"></div>
</section>