<section class="container">
    <header class="page-title">
        <h1>[[ titles.header ]]</h1>
        <div class="link" ng-if="request.id">
            <a href="/request/flyer/[[ request.id ]]/download" target="_blank" class="download">Download Sample</a>
        </div>
    </header>
    <div class="row listing">
        <aside class="sidebar col-sm-3">
            <h2>Loan Officer Info</h2>
            <a href="/#/user/[[ user.id ]]/edit" class="change">Change</a>
            <div class="info-photo">
                <img ng-src="[[ user.picture | defaultImage:'/images/empty-user.png' ]]" alt="user">
            </div>
            <dl>
                <dt>First Name</dt>
                <dd>[[ user.first_name ]]</dd>
                <dt>Last name</dt>
                <dd>[[ user.last_name ]]</dd>
                <dt>Title</dt>
                <dd>[[ user.title ]]</dd>
                <dt>Lender</dt>
                <dd>[[ user.lender.name ]]</dd>
                <dt>Primary Phone</dt>
                <dd>[[ user.phone ]]</dd>
                <dt>Mobile Phone</dt>
                <dd>111-111-11</dd>
                <dt>Address</dt>
                <dd>[[ user.address.formatted_address ]]</dd>
                <dt>Email Address</dt>
                <dd><a ng-href="mailto:[[ user.email ]]">[[ user.email ]]</a></dd>
                <dt>NMLS #</dt>
                <dd>[[ user.nmls ]]</dd>
            </dl>
            <div class="contact-info">
                <h4>Questions?</h4>
                <p>
                    Call your Sales Director [[ user.sales_director ]]<br />
                    <strong>[[ user.sales_director_phone ]]</strong>
                </p>
                <p>
                    or Business Support at <br />
                    <strong>(800) 365-3901</strong>
                </p>
            </div>
        </aside>

        <form ng-submit="save(newFlyer)" novalidate name="newFlyer">
            <main class="col-sm-8 col-md-6 col-lg-5 col-sm-offset-1">
                <div id="errors"></div>
                <div ng-show="!hideErrors && newFlyer.$submitted && !newFlyer.$valid" class="alert alert-danger fade in">
                    <a ng-href="#" class="close" aria-label="Close" ng-click="showErrors($event)">close</a>
                    <!-- property photo -->
                    <div ng-show="newFlyer.fileimage.$error.required">The Property image is required.</div>
                    <!-- address -->
                    <div ng-show="newFlyer.address.$error.required">The Property address is required.</div>
                    <div ng-show="newFlyer.address.$error.address_components">The Property address is invalid.</div>
                    <!-- Listing price -->
                    <div ng-show="newFlyer.listing_price.$error.required">The Listing price is required.</div>
                    <!-- realtor photo -->
                    <div ng-show="newFlyer.realtorfileimage.$error.required">The Realtor image is required.</div>
                    <!-- realtor first name -->
                    <div ng-show="newFlyer.first_name.$error.required">The First name is required.</div>
                    <div ng-show="newFlyer.first_name.$error.pattern">The First name is invalid.</div>
                    <!-- realtor last name -->
                    <div ng-show="newFlyer.last_name.$error.required">The Last name is required.</div>
                    <div ng-show="newFlyer.last_name.$error.pattern">The Last name is required.</div>
                    <!-- realtor phone number -->
                    <div ng-show="newFlyer.phone.$error.required">The Phone is required.</div>
                    <div ng-show="newFlyer.phone.$error.pattern">The Phone is invalid.</div>
                    <!-- realtor email -->
                    <div ng-show="newFlyer.email.$error.required">The Email is required.</div>
                    <div ng-show="newFlyer.email.$error.email">The Email is invalid.</div>
                </div>

                <h2>Property Info</h2>
                <div class="thumbnail">
                    <div class="property-photo" style="text-align: center;">
                        <img ng-src="[[ request.property.photo | defaultImage:'/images/empty-big.png' ]]" height="258" alt="" ng-click="propertyPicture.choosePhoto()">
                    </div>
                    <div class="caption">
                        <span class="upload">
                            Upload Property image
                            <div><input class="upload" id="propertyImage" type="file" valid-file name="fileimage" required="" ng-model="request.property.photo"></div>
                        </span>
                    </div>
                </div>
                <div class="inputs-holder">
                    <div class="input">
                        <input ng-readonly="isAddressReadOnly()" ng-keypress="clearAddress($event)" class="input-lg" id="pac-input" name="address" type="text" placeholder="Property Address" validate-google-address ng-model="request.property.address" required="">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="MLS Number (Optional)" ng-model="request.property.mls_number">
                    </div>
                    <div class="input input-price">
                        <input class="input-lg" type="text" name="listing_price" placeholder="Listing Price" ng-model="request.property.listing_price" required="">
                    </div>
                </div>
                <hr>
                <h2>Realtor Info</h2>
                <div class="main-info">
                    <div class="user-photo">
                        <div class="realtor realtor-photo">
                            <img ng-src="[[ request.realtor.photo | defaultImage:'/images/empty-user.png' ]]" alt="" ng-click="realtorPicture.choosePhoto()">
                        </div>
                        <span class="upload">
                            Upload Photo
                            <div><input id="realtorImage" type="file" valid-file name="realtorfileimage" required="" ng-model="request.realtor.photo"></div>
                        </span>
                    </div>
                    <div class="inputs-holder">
                        <div class="input">
                            <input class="input-lg" type="text" placeholder="First name" ng-pattern="/^[A-Za-z\s]+$/" ng-model="request.realtor.first_name" required="" name="first_name">
                        </div>
                        <div class="input">
                            <input class="input-lg" type="text" ng-pattern="/^[A-Za-z\s]+$/" placeholder="Last name" ng-model="request.realtor.last_name" required="" name="last_name">
                        </div>
                    </div>
                </div>

                <div class="inputs-holder">
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="Phone number" ng-pattern="/^\(?(\d{3})\)?[-\. ]?(\d{3})[-\. ]?(\d{4})$/" ng-model="request.realtor.phone" required="" name="phone">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="email" placeholder="Email address" ng-model="request.realtor.email" required="" name="email">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="BRE number" ng-model="request.realtor.bre_number" name="bre">
                    </div>
                </div>

                <div class="thumbnail">
                    <div class="realtor-photo"  style="text-align: center; height: 130px;overflow: hidden;">
                        <img id="realtyLogoImage" data-ng-src="[[ request.realtor.realty.logo | defaultImage:'/images/empty-company-150x525.png' ]]">
                    </div>
                    <div class="caption">
                        <span class="upload">Upload Company Logo<div><input class="upload" id="realtyLogo" type="file" valid-file name="fileimage" required="" ng-model="request.realtor.realty.logo"></div></span>
                        <span class="upload" style="background-position: -21px 0;margin-left: 40px;" data-toggle="modal" data-target="#chooseRealtyCompanyLogo">Select Company Logo</span>
                    </div>
                </div>

                <div class="inputs-holder">
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="Realtor company" ng-model="request.realtor.realty.name" ng-pattern="/^[A-Za-z\s]+$/">
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4 pull-right" ng-if="request.property.state != states.approved">
                        <button class="btn btn-default btn-lg">[[ titles.button ]]</button>
                    </div>
                    <div class="col-sm-4 pull-right" ng-if="!request.property.state || request.property.state == states.draft || request.property.state == states.approved">
                        <button class="btn btn-default btn-lg" ng-click="saveDraftOrApproved($event)">Save</button>
                    </div>
                    <div class="col-sm-4">
                        <a ng-if="!request.id" ng-href="/#/" class="back">Back to dashboard</a>
                        <a ng-if="request.id" ng-href="/" ng-click="cancel($event);" class="back">Cancel</a>
                    </div>
                </div>
            </main>
        </form>
    </div>
</section>

<div class="modal fade" id="chooseRealtyCompanyLogo" tabindex="-1" role="dialog" aria-hidden="true" data-ng-controller="SelectRealtyLogoController">
    <div class="modal-dialog" style="width: 665px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">close</button>
                <h4 class="modal-title">Select Company Logo</h4>
                {#<p>Upload a new logo</p>#}
                {#<div class="" style="width: 456px; margin: 0 auto;">#}
                    {#<div class="upload-holder">#}
                        {#<button type="button" id="realtyLogo" class="btn btn-default">Choose File</button>#}
                    {#</div>#}
                {#</div>#}
            </div>

          <div class="modal-body">
              <div class="logo-box">
                  {#Choose an existing company:#}
                  {#<div class="top-bar">#}
                  <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search by company name" data-ng-model="test.realtyName">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                       </span>
                  </div>
                  {#</div>#}
                  <ul>
                      <li data-ng-click="selectRealtyLogo(realtyCompany)" data-ng-repeat="realtyCompany in realtyCompanies | filter:{name:test.realtyName||''} | orderBy:name | limitTo:9">
                          <a><img data-ng-src="{{ '{{realtyCompany.logo }}' }}" alt="{{ '{{realtyCompany.name }}' }}"></a>
                      </li>
                  </ul>
              </div>
          </div>
        </div>
    </div>
</div>