<form ng-submit="submit(formUser)" class="css-form" novalidate name="formUser">
    <div class="row edit-user">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div id="userProfileMessage"></div>
            <div class="alert alert-danger fade in" role="alert" ng-show="isValidEmail(formUser)">
                <span ng-show="formUser.email.$error.email">The entered email is invalid.</span>
                <span ng-show="formUser.email.$error.required">Email can't be empty.</span>
            </div>

            <div class="alert alert-danger fade in" role="alert" ng-show="formUser.$submitted && formUser.phone.$error.usaPhoneFormat">
                Please input a valid US phone number including 3 digit area code and 7 digit number.
            </div>

            <div class="alert alert-danger fade in" role="alert" ng-show="formUser.$submitted && formUser.first_name.$error.loName">
                First name is invalid
            </div>
            <div class="alert alert-danger fade in" role="alert" ng-show="formUser.$submitted && formUser.last_name.$error.loName">
                Last name is invalid
            </div>

            <div class="alert alert-danger fade in" role="alert" ng-show="formUser.$submitted && formUser.nmls.$error.number">
                NMLS # should be of number.
            </div>

            <div class="alert alert-danger fade in" role="alert" ng-show="formUser.$submitted && formUser.sales_director_email.$error.email">
                Please input a valid email in Sales Manager Email field.
            </div>


            <h2>[[ title ]]</h2>
            <select class="form-control input-lg"
                    ng-if="user.id != officer.id && user.isAdmin()"
                    ng-model="$parent.selected"
                    ng-options="role.title|ucFirst for role in roles|orderBy:'-title' track by role.key"
            ></select>
            <div class="main-info">
               <div class="user-photo">
                   <div class="realtor-photo">
                       <img src="images/empty.png" alt="user">
                   </div>
                   <a href="#" class="upload">Upload Photo</a>
               </div>
                <div class="inputs-holder">
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="First Name" ng-model="officer.first_name" name="first_name" lo-name-validator ng-model-options="{ updateOn: 'blur' }">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="Last Name" ng-model="officer.last_name" name="last_name" lo-name-validator ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="inputs-holder">
                <div class="input">
                    <input class="input-lg" type="text" placeholder="Title" ng-model="officer.title">
                </div>
                <div class="input" ng-if="user.id != officer.id && user.isAdmin()">
                    <input class="input-lg" type="text" placeholder="Sales Director" ng-model="officer.sales_director">
                </div>
                <div class="input" ng-if="user.id != officer.id && user.isAdmin()">
                    <input class="input-lg" type="email" name="sales_director_email" placeholder="Sales Manager Email" ng-model="officer.sales_director_email">
                </div>
            </div>
            <textarea ng-if="user.id != officer.id && user.isAdmin()" class="form-control" cols="30" rows="2" placeholder="Lender" ng-model="officer.lender"></textarea>
            <div class="inputs-holder">
                <div class="input">
                    <input class="input-lg" type="text" placeholder="Primary Phone" ng-model="officer.phone" name="phone" usa-phone ng-model-options="{ updateOn: 'blur' }">
                </div>
                <div class="input">
                    <input class="input-lg" type="text" placeholder="Mobile Phone" ng-model="officer.mobile">
                </div>
                <div class="input">
                    <input class="input-lg" type="email" placeholder="Email" ng-model="officer.email" required="" name="email">
                </div>
                <div class="input">
                    <input class="input-lg" type="number" placeholder="NMLS #" ng-model="officer.nmls" name="nmls" ng-model-options="{ updateOn: 'blur' }">
                </div>
            </div>
            <button class="btn btn-default btn-lg">Save</button>
            <div class="bottom-nav">
                <a ng-if="officer.id && user.id != officer.id" ng-href="#" ng-click="delete($event)" class="delete pull-right">Delete user</a>
                <a ng-href="/#/" ng-click="cancel($event)" class="back">Cancel</a>
            </div>
        </div>
    </div>
</form>