<header class="page-title">
    <h1>[[title.header]]</h1>
    <button set-tooltip
            type="button"
            class="btn btn-link btn-info-link"
            data-placement="left"
            data-content="[[title.infoText]]"><i class="fa fa-2x fa-info-circle"></i></button>
</header>
<form ng-submit="submit(formUser, $event)" class="css-form" novalidate name="formUser">
    <div class="row edit-user">
        <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
            <div id="userProfileMessage"></div>

            <div class="alert alert-danger fade in" ng-show="!hideErrors && formUser.$submitted && !formUser.$valid">
                <a ng-href="#" class="close" ng-click="showErrors($event)">close</a>
                <div ng-show="isValidEmail(formUser) || formUser.email.$error.required">Email can't be empty.</div>
                <div ng-show="formUser.email.$invalid">Email is invalid.</div>
                <div ng-show="formUser.$submitted && formUser.phone.$error.usaPhoneFormat">Please input a valid US phone number including 3 digit area code and 7 digit number.</div>
                <div ng-show="formUser.$submitted && formUser.first_name.$error.loName">First name is invalid</div>
                <div ng-show="formUser.$submitted && formUser.last_name.$error.loName">Last name is invalid</div>
                <div ng-show="formUser.$submitted && formUser.nmls.$error.number">NMLS # should be of number.</div>
                <div ng-show="formUser.sales_director_email.$invalid">
                    Please input a valid email in Sales Director Email field.
                </div>
                <div ng-show="formUser.$submitted && formUser.sales_director_phone.$error.usaPhoneFormat">Please input a valid phone in Sales Director Phone field.</div>
                <div ng-show="formUser.$submitted && formUser.mobile.$error.usaPhoneFormat">Please input a valid mobile phone.</div>
                <div ng-show="formUser.address.$invalid">Address is invalid.</div>
                <div ng-show="formUser.password_confirm.$error.compareTo">Passwords are not equal.</div>
            </div>
            <select class="form-control input-lg"
                    ng-if="user.id != officer.id && user.isAdmin()"
                    ng-model="$parent.selected"
                    ng-options="role.title|ucFirst for role in roles|orderBy:'-title' track by role.key"
            ></select>
            <div class="main-info">
               <div class="user-photo">
                   <div class="realtor-photo">
                       <img ng-src="[[ officer.picture | defaultImage:'/images/empty-user.png' ]]" alt="user" ng-click="userPicture.choosePhoto()">
                   </div>
                   <span class="upload">
                        Upload Photo
                        <div><input class="upload" id="userPhoto" type="file" valid-file name="fileimage" ng-model="officer.picture"></div>
                    </span>
               </div>
                <div class="inputs-holder">
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="First Name" ng-model="officer.first_name" name="first_name" lo-name-validator ng-model-options="{ updateOn: 'blur' }">
                    </div>
                    <div class="input">
                        <input class="input-lg" type="text" placeholder="Last Name" ng-model="officer.last_name" name="last_name" lo-name-validator ng-model-options="{ updateOn: 'blur' }">
                    </div>
                </div>
            </div>
            <div class="inputs-holder">
                <div class="input">
                    <input class="input-lg" type="text" placeholder="Title" ng-model="officer.title">
                </div>
                <div class="input" ng-if="user.id != officer.id && user.isAdmin()">
                    <input class="input-lg"
                           type="text"
                           name="sales_director"
                           placeholder="Select Sales Director"
                           ng-click="autoComplete($event)"
                           ng-model="officer.sales_director">
                </div>
                <div class="input" ng-if="user.id != officer.id && user.isAdmin()">
                    <input ng-model="officer.sales_director_email"
                           ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                           class="input-lg"
                           type="email"
                           name="sales_director_email"
                           placeholder="Sales Director Email">
                </div>
                <div class="input" ng-if="user.id != officer.id && user.isAdmin()">
                    <input class="input-lg" type="text" name="sales_director_phone" placeholder="Sales Director Phone" usa-phone ng-model="officer.sales_director_phone">
                </div>
            </div>

            <select class="form-control input-lg"
                    ng-if="user.isAdmin()"
                    ng-model="officer.lender"
                    ng-options="lender.name|ucFirst for lender in lenders|orderBy:'-name' track by lender.id"
                    ></select>

            <div class="inputs-holder">
                <div class="input">
                    <input class="input-lg" type="text" placeholder="Primary Phone" ng-model="officer.phone" name="phone" usa-phone ng-model-options="{ updateOn: 'blur' }">
                </div>
                <div class="input">
                    <input class="input-lg"
                           type="text"
                           placeholder="Mobile Phone"
                           name="mobile"
                           usa-phone
                           ng-model="officer.mobile">
                </div>
                <div ng-class="{'input':true, 'error':formUser.address.$dirty && formUser.address.$invalid}">
                    <input id="address"
                           name="address"
                           type="text"
                           class="input-lg"
                           ng-model="officer.address.formatted_address"
                           vs-google-autocomplete="{ types: ['address'], componentRestrictions: { country: 'US' } }"
                           vs-autocomplete-validator="vs-google-place"
                           vs-street-number="officer.address.street_number"
                           vs-street="officer.address.street"
                           vs-city="officer.address.city"
                           vs-postal-code="officer.address.postal_code"
                           vs-place-id="officer.address.place_id"
                           vs-state="officer.address.state">
                </div>
                <div class="input">
                    <input class="input-lg"
                           type="text"
                           name="apartment"
                           placeholder="Apt/Ste#"
                           ng-model="officer.address.apartment"
                           ng-model-options="{ updateOn: 'blur' }">
                </div>
                <div id="map-canvas"></div>
                <div class="input">
                    <input ng-model="officer.email"
                           ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/"
                           class="input-lg"
                           type="email"
                           placeholder="Email"
                           required=""
                           name="email">
                </div>
                <div class="input">
                    <input class="input-lg" type="number" placeholder="NMLS #" ng-model="officer.nmls" name="nmls" ng-model-options="{ updateOn: 'blur' }">
                </div>
                <div class="input" ng-if="itsMe()">
                    <input class="input-lg" type="password" placeholder="New password" ng-model="officer.password.password" name="password">
                    <div class="input">
                        <input class="input-lg" type="password" placeholder="Confirm new password" compare-to="officer.password.password" ng-model="officer.password.password_confirm" name="password_confirm">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-default btn-lg">Save</button>
            <div class="bottom-nav">
                <a ng-if="!itsMe()" ng-href="#" ng-click="delete($event)" class="delete pull-right">Delete user</a>
                <a ng-href="/#/" ng-click="cancel($event)" class="back">Cancel</a>
            </div>
        </div>
    </div>
</form>
